/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(/images/Ser1.jpg);
    background-repeat: no-repeat;
    padding: 130px 0 0 0;
    margin-bottom: 100px;
    z-index: 1;
}

.menu-container {
    padding: 0 320px 0 320px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: 500px;
}

.menu {
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: #ffc901;
    text-transform: uppercase;
    font-weight: 800;
}

.navbar {
    position: relative;
}

.navbar li {
    position: relative;
    float: left;
}

.navbar li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.navbar li a:hover {
    color: #a0a0a0;
    text-decoration: none;
    transition: border-color 0.2s ease;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

table {
    width: 100%;
}

th,
td {
    color: #FFFFFF;
}

.borrar {
    background-color: #FF4000;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt {
    flex-basis: 50%;
    margin-right: 25px;
}

span {
    color: #FFF829;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
    margin-top: 35px;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 35px;
}

.butons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #FF4000;
    margin-right: 20px;
    color: #111419;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    height: 550px;
}

/* Estilos generales para la lista de marcas */
.filtro {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    /* Asegurar que el fondo se muestre dentro del contenedor */
    height: 100px;
}

.marca {
    display: flex;
    /* Mostrar las marcas en una fila horizontal */
    list-style: none;
    margin: 0;
    padding: 0;

}

.marca li {
    margin: 30px;
    /* Aumenta la distancia entre los elementos */
    transition: transform 0.3s, filter 0.3s;
}

.marca li a {
    text-decoration: none;
}

/* Estilos para las imágenes de las marcas */
.marca img {
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
}

/* Efecto al pasar el mouse por encima de una marca */
.marca li:hover img {
    transform: scale(1.2);
    filter: grayscale(0%);
}

/* Estilo de color para el texto del enlace */
.marca li a {
    color: #000;
    /* Cambia el color del texto a negro */
    text-decoration: none;
}

/* Efecto al pasar el mouse por encima de un enlace */
.marca li a:hover {
    color: #ff0000;
    /* Cambia el color del texto al pasar el mouse por encima */
    text-decoration: none;
}

.products {
    padding: 0 0 50px 0;
    text-align: center;
}

.titulo {
    text-align: center;
  }

h2 {
    font-size: 40px;
    color: #111419;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #FF4000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.2);
    background-color: #F6FAFB;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}

.box img {
    height: 200px;
}

.product-txt h3 {
    font-size: 18px;
    color: #111419;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 5px;
}

.product-txt h3 {
    font-size: 18px;
    color: #111419;
    margin-bottom: 10px;
}

.marca {
    font-size: 15px;
    font-weight: 700;
    color: #111419;
}

.clave {
    font-size: 10px;
    font-weight: 700;
    color: #515557 !important;
}

.codigo {
    font-size: 10px;
    font-weight: 700;
    color: #515557 !important;
}